# PixzyPay Gateway (https://docs.pixzypay.com/)
# Obtenha seu Bearer Token em: Configurações -> Tokens de API
PIXZY_API_KEY=seu_token_pixzy_aqui
PIXZY_API_URL=https://app.pixzypay.com/api

# Blackcat Payment Gateway (Legado/Opcional)
BLACKCAT_API_KEY=sua_api_key_aqui
BLACKCAT_API_URL=https://api.blackcatoficial.com/api

# Painel Administrativo Exclusivo
ADMIN_PASSWORD=sua_senha_secreta_aqui
